.red {
    color: red
}

p.blue {
    color: blue;
}

.blue {
    color: black;
}

#title {
    font-weight: bold;
    color: purple;
}

#title {
    color: blue
}

section {
    height: 80vh;
    border: 1px solid black;
}